.CategoryButtonContainer {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pinkAlt);
    border-radius: 14px;
    color: var(--white);
    padding: 0 10px;
}

.CategoryButtonMore {
    background-color: transparent;
    border: none;
    font-size: 1em;
    color: var(--white);
}

.CategoryButtonSubmenu {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
    padding: 0 25px;
}

.CategoryButtonSubmenuTitle {
    font-weight: 100;
    ;
}

.CategoryButtonArrow {
    background-color: transparent;
    border: none;
    font-size: 1em;
}