.RoundButtonIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.RoundButtonIcon {
    background-color:var(--touchDark);
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.RoundButtonIconSkip {
    font-weight: 100;
    font-size: 1em;
    padding: 15px;
}