.SecondaryMenubar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: transparent;
    /* background-color: var(--white); */
    color: var(--white);
    height: 75px;
}

.SecondaryMenubar button {
    background-color: transparent;
    border: none;
}

.SecondaryMenubar svg {
    fill: var(--white);
}

.backgroundWhite {
    color: var(--darkPurple);
    background-color: var(--white);
}

.backgroundWhite svg {
    fill: var(--darkPurple);
}

.SecondaryMenubarTitle {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1em;
}