:root {
    --primaryColor: #bf4040;
    --secondaryColor: #40bfbf;
    --gradientFrom: #EE0979;
    --gradientTo: #FF6A00;
    --white: #FFFFFF;
    --black: #d4cdcd;
    --darkPurple: #341931;

    /* category variable*/

    --pink: #FF1168;
    --pinkAlt: #D70060;
    --pinkOpa: #ff11688e;
    --orange: #E54028;
    --light-orange: #F18D05;
    --yellow: #F2BC06;
    --green: #5EB11C;
    --darkgreen: #3A7634;
    --turquoise-blue: #0ABEBE;
    --lightblue: #00A1CB;
    --blue: #115793;
    
    /* darkmode variable*/
    
    --menubar: var(--white);
    --loginPage: #FFFFFF;
    --loginDark:#341931;
    --touchDark:#FF1168;
    --loginIconDark:invert(0%)
    


    /* unused variable*/
    /* --darkblue: #111625; */
}